<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <gui.Properties.Settings>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="lastScenePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedRenderer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoStartOnLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoreProfileLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoaderProfileLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenshotNamePattern" serializeAs="String">
                <value>#scene-#scenario-#renderer-#iteration</value>
            </setting>
            <setting name="ScreenshotFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenshotGesture" serializeAs="String">
                <value>F2</value>
            </setting>
            <setting name="PlayPauseGesture" serializeAs="String">
                <value>ALT+P</value>
            </setting>
            <setting name="ResetGesture" serializeAs="String">
                <value>ALT+R</value>
            </setting>
            <setting name="ToggleCameraMovementGesture" serializeAs="String">
                <value>ALT+M</value>
            </setting>
        </gui.Properties.Settings>
    </userSettings>
</configuration>