[submodule "deps/epsilon"]
	path = deps/epsilon
	url = https://github.com/Jojendersie/Epsilon-Intersection.git
[submodule "deps/chinoise"]
	path = deps/chinoise
	url = https://github.com/Jojendersie/Chi-Noise.git
[submodule "deps/gli"]
	path = deps/gli
	url = https://github.com/g-truc/gli.git
[submodule "testscenes"]
	path = testscenes
	url = git@bitbucket.org:renderingtuclausthal/mufflon-test-scenes.git
